<launch>

  <arg name="model" default="quadrotor" />
  <arg name="cylinder_radius" default="0.1" /> 

  <group ns="$(arg model)">

    <!-- This is the state control node -->
    <node pkg="state_control_cylinder"
	    type="state_control"
	    name="state_control"
      output="screen">
      <rosparam file="$(find state_control_cylinder)/config/$(arg model)_params.yaml" />
      <rosparam file="$(find state_control_cylinder)/config/hummingbird_gains.yaml" />
      <param name="safety_catch" value="false"/>
      <param name="traj_filename" type="string" value="/home/justin/Dropbox/papers_and_posters/2015-ICRA_Gecko_Perching/current_experiment/traj.csv"/>
    </node>

    <node pkg="camera_simulator"
      type="camera_simulator"
      name="camera_simulator"
      output="screen">
      <param name="cylinder_radius" value="$(arg cylinder_radius)"/>
      <remap from="~imu" to="quad_decode_msg/imu"/>
    </node>

    <node pkg="process_image_features"
      type="process_image_features"
      name="process_image_features"
      output="screen">
      <param name="cylinder_radius" value="$(arg cylinder_radius)"/>
    </node>

  </group>
</launch>
