<launch>

  <arg name="model" default="QuadrotorAlpha" />

  <group ns="$(arg model)">
    
    <arg name="cylinder_radius" default="0.04" />
    <param name="camera_fps" value="70"/>

    <node pkg="process_image_features"
      type="process_image_features"
      name="process_image_features"
      output="screen">
    </node>

  </group>
</launch>
